*{
    margin: 0;
    padding: 0;

}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background{
    height: 625px;
    width: 2583px;
    animation: ontheway linear 1s infinite ;
}

.carbody{
    height: 133px;
    width: auto;
    position: absolute;
    left: 156px;
    top: 470px;
    animation: cardancing  2s infinite;
}

.tyre1{
    position: relative;
    bottom: 141px;
    height: 72px;
    left: 220px;
    animation: tyrestart linear 0.50s infinite;
}
.tyre2{
    position: relative;
    bottom: 136px;
    right: -381px;
    height: 70px;
    animation: tyrestart linear 0.50s infinite;
}

.obstacle{
    position: absolute;
    top: 475px;
    right: -280px;
    height: 110px;
    animation: obstacleAni 1s infinite;
}

@keyframes tyrestart {
    0%{transform: rotate(0deg);} 
    100%{transform: rotate(500deg);}
}
@keyframes ontheway{
   100%{transform: translateX(-200vh);}
}
@keyframes cardancing {
    0%{transform: translateY(-3px);}
    50%{transform: translateY(3px);}
    100%{transform: translateY(-3px);}
}
@keyframes obstacleAni{
    0%{transform: translateX(1560px);}
    100%{transform: translateX(-1560px);}
}

.jumpcar{
    animation-name: carjump;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes carjump {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(0px);
    }
} 
.jumptyre{
    animation-name: tyrejump;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes tyrejump {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(0px);
    }
} 