*{
    margin: 0;
    padding: 0;

}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sky{
    height: 350px;
    width: 1280px;
    background-image: url(../img/sky.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 37px; 
}
.tree{
    width: 2700px;
    height: 620px;
    position: absolute;
    bottom: -109px;;
    animation: treesinmotion linear 3s infinite;
}
.road{
    background-image: url(../img/track.png);
    height: 260px;
    width: 2591px;
    position: absolute;
    bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    animation: ontheway linear 1s infinite ;
}

.carbody{
    height: 155px;
    width: auto;
    position: absolute;
    left: 156px;
    top: 470px;
    animation: cardancing  2s infinite;
}

.tyre1{
    position: relative;
    height: 90px;
    left: 229px;
    top: 498px;
    animation: tyrestart linear 0.50s infinite;
}
.tyre2{
    position: relative;
    top: 505px;
    right: -412px;
    height: 89px;
    animation: tyrestart linear 0.50s infinite;
}

@keyframes tyrestart {
    0%{transform: rotate(0deg);} 
    100%{transform: rotate(500deg);}
}
@keyframes treesinmotion {
   100%{transform: translateX(-200vh);}
}
@keyframes ontheway{
   100%{transform: translateX(-200vh);}
}
@keyframes cardancing {
    0%{transform: translateY(-3px);}
    50%{transform: translateY(3px);}
    100%{transform: translateY(-3px);}
}

.jumpcar{
    animation-name: carjump;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes carjump {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(0px);
    }
} 
.jumptyre{
    animation-name: tyrejump;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}
@keyframes tyrejump {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(0px);
    }
} 